.global {
    height: 404px;
    width: 333px;
    display: flex;
    flex-direction: column;

    &__header {}

    &__plates {
        margin-bottom: 24px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}