$background-default: #5D5FEF;

$background-secondary: #17181C;

.button {
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.size__ {
    &s {
        height: 40px;
    }

    &m {
        height: 56px;
    }
}

.variant__ {

    &default {
        background: $background-default;

        &:hover {
            background: darken($background-default, 5);
        }
    }

    &secondary {
        background: $background-secondary;

        &:hover {
            background: lighten($background-secondary, 5);
        }
    }

    &ghost {
        display: inline-block;
        background: none;
        width: unset;
        height: unset;
    }
}