.header {
    height: 64px;
    display: flex;
    justify-content: space-between;

    &__plates {
        display: flex;
        gap: 8px;
    }

    &__plate {
        &-month {
            width: 131px;
        }

        &-year {
            width: 108px;
        }
    }
}

.plate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 32px;
    padding: 0 13px;

    &__btn {
        $size: 16px;
        width: $size;
        height: $size;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: none;
        cursor: pointer;
        user-select: none;

        &_next {
            svg {
                rotate: (180deg);
            }
        }
    }
}