.table {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &-container {
        flex: 1;
        max-height: 292px;
        overflow: hidden;
    }

    &__empty {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}