.goal-list {
    &-container {
        flex: 1;
    }

    &__empty {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &-container {
            height: 100%;

            &.loading {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &-wrapper {
            width: 240px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
        }
    }

    &__items {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}