.statistics {
    height: 404px;
    width: 663px;

    &__content {
        flex: 1;
        display: flex;
        overflow: hidden;
    }

    &__common {
        padding-right: 21px;
        margin-right: 21px;
        border-right: 4px solid #17181C;
        display: flex;
        flex-direction: column;
    }
}